BLOG_HOME=/root/Tester4/
ARTICLES_KEY_NAME=Tester4Articles
DB_KEY_NAME=Tester4DB
IPNS_SITE=k2k4r8klkhk0uh1b3lytws5o724z2a7qiyto4jroedt8yh4huib1mhij
IPNS_DB=k2k4r8mqe0akz71ijxrmkvhnmf9da1l5uiuuv854jwundi19kqirh4e4
IPNS_ARTICLES=k2k4r8p4uati7s6c981u67ifm7wug2po2rs8a9jlce30l1mgudzzfcz8
